:root {
  --background: #f5f5f5;
  --foreground: #1b1b1b;
  --acento: #ffc107;
  --primary: #2e7d32;
  --secondary: #62ad64;

  --title: #e0ffe0;
  --text: #a8d5a2;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  :root {
    --background: #1c1c1c;
    --foreground: #f5f5f5;
  }
}

html,
body {
  max-width: 100vw;
  background-color: var(--background) !important;
}

body {
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="48" viewBox="0 0 24 24"><path fill="%2384E987" stroke="%23000" stroke-width="1.75" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>'),
    auto !important;

  color: var(--foreground);
  font-family: var(--font-fira-code), monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;

  min-height: 100vh;
}

header,
footer {
  background-color: #ffffff20;
  text-align: center;
  height: 8vh;
  backdrop-filter: blur(8px); /* Aplica o blur no fundo */

  position: static;
  z-index: 11;
}
.navbar-brand {
  color: var(--text) !important;
}
.nav-link i {
  font-size: 30px;
  color: var(--text) !important;
}
.nav-link i:hover {
  color: var(--title) !important;
}

.polkadot {
  background-image: radial-gradient(#ffffff20 1%, transparent 6%), radial-gradient(#ffffff20 1%, transparent 6%);
  background-size: 30px 30px;
  background-position: 0 0, 30px 30px;
  background-repeat: repeat;
}
.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;

  color: var(--foreground);
  padding: 1rem;

  position: relative;
  background: radial-gradient(circle at var(--glow-x, 50%) var(--glow-y, 50%), rgba(98, 173, 100, 0.15) 0%, rgba(98, 173, 100, 0.1) 5%, transparent 15%);
  transition: background 0.2s;
}

.profile {
  display: flex;
  flex-direction: row;
  gap: 3%;

  width: 100%;
  height: 30vh;
  align-items: center;

  border-radius: 15px;
  transition: box-shadow 600ms ease;

  span {
    padding-right: 25%;
  }
}

.profile_image img {
  max-width: 200px;
  width: 100%;
  aspect-ratio: 1 / 1;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 8px #62ad6480, 0 0 16px #62ad6480, 0 0 24px #2e7d3280, 0 0 32px #2e7d3280;
}

.profile_text {
  color: var(--text);
  justify-self: end;
  font-size: clamp(0.9rem, 2vw, 1.2rem); /* Responsivo */
}
.profile_text h1 {
  color: var(--title);
  font-weight: bold;
  font-size: clamp(2rem, 7vw, 4rem); /* Responsivo */
}

.com-sombra {
  box-shadow: 0 0 80px #62ad6480, 0 0 1px #62ad6480, 0 0 1px #2e7d3280, 0 0 100px #2e7d3280;
  transition: box-shadow 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
.about-me,
.projects,
.skills,
.curriculo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  border-radius: 15px;
  padding: 2%;
  transition: box-shadow 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
.about-me p,
.curriculo div,
.skills h5 {
  color: var(--text);
}

.main {
  max-width: 100%;

  padding: 0 19% 0 19%;
}

.title {
  color: var(--title);
}
.about-me h1::after {
  content: "";
  display: inline-block;
  width: 0.7em;
  height: 0.1em;
  background: var(--title, #fff);
  margin-left: 0.2em;
  border-radius: 2px;
  box-shadow: 0 0 8px #62ad64, 0 0 16px #62ad64, 0 0 24px #2e7d32, 0 0 32px #2e7d32;
  animation: neon-pulse 2.5s infinite alternate;
  animation: blink-cursor 0.8s steps(1) infinite;
}
@keyframes blink-cursor {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

.neon-glow {
  color: var(--title, #e0ffe0);
  text-shadow: 0 0 8px #62ad64, 0 0 16px #62ad64, 0 0 24px #2e7d32, 0 0 32px #2e7d32;
  animation: neon-pulse 1s infinite alternate;
}
@keyframes neon-pulse {
  from {
    text-shadow: 0 0 8px #62ad64, 0 0 16px #62ad64, 0 0 24px #2e7d32, 0 0 32px #2e7d32;
  }
  to {
    text-shadow: 0 0 16px #62ad64, 0 0 32px #62ad64, 0 0 48px #2e7d32, 0 0 64px #2e7d32;
  }
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.skills-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  row-gap: 10px;

  height: 174px;
  border-radius: 15px;
  border: solid 1px var(--secondary);
  backdrop-filter: blur(1.5px);
  transition: box-shadow 0.1s, border-color 0.1s;
}
.skills-item:hover {
  border-color: #62ad64;
  box-shadow: 0 0 8px #62ad64, 0 0 12px #62ad64, 0 0 20px #2e7d32, 0 0 28px #2e7d32;
}
.skills-icons img {
  padding: 0 5px 0 5px;
  transition: height 0.3s, padding 0.3s;
}
.skills-icons img:hover {
  height: 60px;
  padding: 0 7px 0 7px;
}

.projects-image {
  display: block;
  border-radius: 15px;
  width: 80%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}

/* TIMELINE */
.main-timeline {
  position: relative;
  width: 100%;
  padding: 0;
  padding-top: 3%;
}
.main-timeline::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: var(--secondary);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
/* CARD DA TIMELINE */
.timeline {
  position: relative;
  background-color: inherit;
  width: 50%;
}
/* bolinha da timeline */
.timeline::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -11px;
  background-color: var(--primary);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
/* card equerda */
.left {
  padding: 0px 40px 20px 0px;
  left: 0;
}
/* card direita */
.right {
  padding: 0px 0px 20px 40px;
  left: 50%;
}
/* setinha card esquerda*/
.left::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  right: 30px;
  border: 1px solid var(--secondary);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--secondary);
}
/* setinha card direita */
.right::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  left: 30px;
  border: medium solid var(--secondary);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--secondary) transparent transparent;
}
.right::after {
  left: -14px;
}

.gradient-custom-left {
  color: var(--text) !important;
  border: none !important;
}
.gradient-custom-left h4 {
  color: var(--title) !important;
}

.gradient-custom-right {
  color: var(--text) !important;
  border: none !important;
}
.gradient-custom-right h4 {
  color: var(--title) !important;
}

.timeline .card {
  background-color: #1b1b1b00;
}

.gradient-custom-left .card-body {
  text-decoration: none;
  border-radius: 15px;
  border: solid 1px var(--secondary);
  backdrop-filter: blur(1.5px);
  transition: box-shadow 0.1s, border-color 0.1s;
}
.gradient-custom-left .card-body:hover {
  border-color: #62ad64;
  box-shadow: 0 0 8px #62ad64, 0 0 12px #62ad64, 0 0 20px #2e7d32, 0 0 28px #2e7d32;
}
.gradient-custom-right .card-body {
  text-decoration: none;
  border-radius: 15px;
  border: solid 1px var(--secondary);
  backdrop-filter: blur(1.5px);
  transition: box-shadow 0.1s, border-color 0.1s;
}
.gradient-custom-right .card-body:hover {
  border-color: #62ad64;
  box-shadow: 0 0 8px #62ad64, 0 0 12px #62ad64, 0 0 20px #2e7d32, 0 0 28px #2e7d32;
}

@media only screen and (max-width: 600px) {
  .profile_image img {
    width: 100% !important;
    aspect-ratio: 1 / 1 !important;
    height: auto !important;
    object-fit: cover !important;
  }

  .profile_text {
    font-size: clamp(0.8rem, 3vw, 1rem);
  }
  .profile_text h1 {
    font-size: clamp(1.5rem, 8vw, 3rem);
  }

  /* Place the timelime to the left */
  .main-timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 18px;
  }

  .left::before {
    right: auto;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
